<!DOCTYPE html>
<html>
<head>
  <title>WebExtension service mock</title>
  <link rel='stylesheet' href='/style.css'>
  {{#if tokenSigning}}
    <script src="/token-signing.js" data-name="TokenSigning"></script>
  {{/if}}
</head>
<body>
{{{body}}}
</body>
</html>
