<script type="module" src="/webeid/authenticate.js"></script>
<script type="module" src="/webeid/sign.js"></script>
<script type="module" src="/webeid/status.js"></script>
<script type="module" src="/webeid/extension-mock.js"></script>

<main>
  <div>
    <h1>Web-eID service mock</h1>
    <p>
    <table id="status">
      <tbody>
        <tr>
          <th>Library version</th>
          <td id="status-library"></td>
        </tr>
        <tr>
          <th>Extension version</th>
          <td id="status-extension"></td>
        </tr>
        <tr>
          <th>Native app version</th>
          <td id="status-native"></td>
        </tr>
        <tr>
          <th>Status</th>
          <td id="status-message"></td>
        </tr>
      </tbody>
    </table>
    </p>

    <hr>

    <h2>Authenticate</h2>
    <table class="authenticate options">
      <tbody>
        <tr>
          <th colspan="2">Authentication challenge</th>
        </tr>
        <tr>
          <td>GET URL</td>
          <td><input name="getAuthChallengeUrl" type="text" required></td>
        </tr>
        <tr>
          <td>headers</td>
          <td><input name="getAuthChallengeHeaders" type="text"></td>
        </tr>
        <tr>
          <th colspan="2">Authentication token</th>
        </tr>
        <tr>
          <td>POST URL</td>
          <td><input name="postAuthTokenUrl" type="text" required></td>
        </tr>
        <tr>
          <td>headers</td>
          <td><input name="postAuthTokenHeaders" type="text"></td>
        </tr>
        <tr>
          <th colspan="2">Web-eID library options</th>
        </tr>
        <tr>
          <td>userInteractionTimeout</td>
          <td><input name="authUserInteractionTimeout" type="text"></td>
        </tr>
        <tr>
          <td>Language</td>
          <td>
            <select name="authLanguage">
              <option value="" selected>(not specified)</option>
              <option value="et">et</option>
              <option value="en">en</option>
              <option value="ru">ru</option>
              <option value="lt">lt</option>
              <option value="lv">lv</option>
              <option value="tr">tr</option>
              <option value="xx">xx (not supported)</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <input name="authenticateButton" type="button" value="Authenticate">

    <textarea name="authResult" placeholder="Authentication result will be here..."
      readonly></textarea>

    <hr>

    <h2>Sign</h2>
    <table class="sign options">
      <tbody>
        <tr>
          <th colspan="2">Prepare signing</th>
        </tr>
        <tr>
          <td>POST URL</td>
          <td><input name="postPrepareSigningUrl" type="text" required></td>
        </tr>
        <tr>
          <td>Headers</td>
          <td><input name="postPrepareSigningHeaders" type="text" required></td>
        </tr>
        <tr>
          <th colspan="2">Finalize signing</th>
        </tr>
        <tr>
          <td>POST URL</td>
          <td><input name="postFinalizeSigningUrl" type="text" required></td>
        </tr>
        <tr>
          <td>Headers</td>
          <td><input name="postFinalizeSigningHeaders" type="text" required></td>
        </tr>
        <tr>
          <th colspan="2">Web-eID library options</th>
        </tr>
        <tr>
          <td>userInteractionTimeout</td>
          <td><input name="signUserInteractionTimeout" type="text"></td>
        </tr>
        <tr>
          <td>Language</td>
          <td>
            <select name="signLanguage">
              <option value="" selected>(not specified)</option>
              <option value="et">et</option>
              <option value="en">en</option>
              <option value="ru">ru</option>
              <option value="lt">lt</option>
              <option value="lv">lv</option>
              <option value="tr">tr</option>
              <option value="xx">xx (not supported)</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <input name="signButton" type="button" value="Sign">

    <textarea name="signResult" placeholder="Signing result will be here..." readonly></textarea>
  </div>

  <div>
    <h2>Mock Web-eID extension responses</h2>
    <div>
      <input type="checkbox" id="mock-ack" class="toggle-option">
      <label for="mock-ack">Mock extension acknowledge message</label>
    </div>
    <div id="extension-mock-buttons"></div>
  </div>
</main>
